$navbar-default-bg: #073B15;
@import "bootstrap-sprockets";
@import "bootstrap";

.center{
	text-align: center;
}
.jumbotron{
	background-image: asset-url('header-background.jpg');
	background-size: cover;
	height: 300px;
}
.jumbotron h1, h2{
	color:#fff;
	text-align:center;
	margin-bottom:30px;
	letter-spacing: -1;
	font-weigth:bold;
}
#logo{
	float:left;
	font-size:1.7em;
	color:#fff;
	text-transform:uppercase;
	font-weight:bold;
}

#logo:hover{
	color:#fff;
	text-decoration: none;
}

.btn-xlarge{
	background-color: #073B15;
}

.btn-xlarge:hover{
	color:#fff;
	text-decoration: none;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left: 10px;
  padding-right: 10px;
}


footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
