<footer class="footer">
  <small>
    <strong><a href="#">Development Training</a></strong>
      by <em>José Manuel Domínguez<em>
  </small>
  <nav>
    <ul>
      <li> <%= link_to 'about', '#' %> </li>
    </ul>
  </nav>
</footer>
